<div align="center">
    <br>
    <br>
    <div class="col-md-8 border border-secondary p-5 rounded">
        <h1>Creación de asignatura</h1>
        <br>
        <br>
        <div class="form-group" align="left">
            <a class="btn btn-primary add" (click)="agregarRequisito()">+ Agregar requisito</a>
        </div>
        <form>
            <div class="form-row">

                <div class="form-group col-md-6 text-left">
                    <label>Código requisito</label>
                    <input class="form-control">
                </div>

                <div class="form-group col-md-6 text-left">
                    <label>Tipo requisito</label>
                    <select class="form-control">
                        <option>Prerrequisito</option>
                        <option>Correquisito</option>
                    </select>
                </div>
            </div>
            <div formArrayName="requisitos" *ngFor="let requisito of requisitos.controls; let i = index">
                <div [formGroupName]="i" class="form-row">
                    <div class="form-group col-md-6 text-left">
                        <label [attr.for]="'Codigo' + i">Código requisito</label>
                        <input type="text" [attr.id]="'Codigo' + i" class="form-control" formControlName="Codigo">
                    </div>
                    <div class="form-group col-md-6 text-left">
                        <label [attr.for]="'Tipo' + i">Tipo requisito</label>
                        <select [attr.id]="'Tipo' + i" class="form-control" formControlName="Tipo">
                            <option>Prerrequisito</option>
                            <option>Correquisito</option>
                        </select>
                    </div>
                    <div>
                        <button class="btn btn-danger" (click)="removerRequisito(i)">Remover</button>
                    </div>
                </div>
            </div>

            <div class="form-group col-md-12 text-left">
                <label>Descripción</label>
                <textarea class="form-control" rows="3" value=""></textarea>
            </div>
            <div class="form-group col-md-12 text-left">
                <label>Objetivos</label>
                <textarea class="form-control" rows="3" value=""></textarea>
            </div>
            <div class="form-group col-md-12 text-left">
                <label>Metodología de la actividad académica</label>
                <textarea class="form-control" rows="3" value=""></textarea>
            </div>
            <div class="form-group col-md-12 text-left">
                <label>Bibliografía</label>
                <textarea class="form-control" rows="3" value=""></textarea>
            </div>
            <br>

            <a role="button" class="btn btn-primary ali mr-2" (click)="open(contenido)" >CREAR</a>
            <a role="button" class="btn btn-outline-danger" href="CrearAsignatura">VOLVER</a>
        </form>

    </div>
</div>

<ng-template #contenido let-modal>
    <div class="modal-header">
    </div>
    <div class="modal-body">
        <h6>
            CREACIÓN DE ASIGNATURA EXITOSA
        </h6>
    </div>
    <div class="modal-footer">
        <a role="button" class="btn btn-secondary" (click)="modal.close()" href="" data-dismiss="modal">Cerrar</a>
    </div>
</ng-template>