<div align="center">
    <br>
    <br>
    <div class="col-md-8 border border-secondary p-5 rounded">
        <h1>Selección de grupos</h1>
        <br>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">ASIGNATURA</th>
                </tr>
            </thead>
        </table>
        <div class="col-md-12" align="left">
            <ngb-accordion #acc="ngbAccordion">

                <ngb-panel id="panel1">
                    <ng-template ngbPanelTitle>
                        <table class="table col-md-12">
                            <tbody>
                                <tr>
                                    <th scope="row">Introducción a la Robótica(3009151)</th>
                                    <td>Disciplinar Optativa</td>
                                    <td>3</td>
                                </tr>
                            </tbody>
                        </table>
                    </ng-template>
                    <ng-template ngbPanelContent>
                        <div class="col-md-12 border border-secondary p-3 rounded">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">N°</th>
                                        <th scope="col">DOCENTE</th>
                                        <th scope="col">NÚMERO DE CUPOS</th>
                                        <th scope="col">SALÓN</th>
                                        <th scope="col">HORARIO</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" name="inlineRadioOptions" type="radio"
                                                    id="inlineRadio1" value="option1">
                                                <label class="form-check-label" for="inlineRadio1">1</label>
                                            </div>
                                        </th>
                                        <td>Sebastián Lopez Mazo</td>
                                        <td>30</td>
                                        <td>M8-301</td>
                                        <td>--</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" name="inlineRadioOptions" type="radio"
                                                    id="inlineRadio2" value="option2">
                                                <label class="form-check-label" for="inlineRadio2">2</label>
                                            </div>
                                        </th>
                                        <td>Julian Carvajal</td>
                                        <td>90</td>
                                        <td>M8-201</td>
                                        <td>--</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" name="inlineRadioOptions" type="radio"
                                                    id="inlineRadio3" value="option3">
                                                <label class="form-check-label" for="inlineRadio3">3</label>
                                            </div>
                                        </th>
                                        <td>Paula Andrea</td>
                                        <td>50</td>
                                        <td>M8-101</td>
                                        <td>--</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" name="inlineRadioOptions" type="radio"
                                                    id="inlineRadio4" value="option4">
                                                <label class="form-check-label" for="inlineRadio4">4</label>
                                            </div>
                                        </th>
                                        <td>Juan David Pino</td>
                                        <td>61</td>
                                        <td>M8-302</td>
                                        <td>--</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </ng-template>
                </ngb-panel>
                <ngb-panel id="panel2">
                    <ng-template ngbPanelTitle>
                        <table class="table">
                            <tbody>
                                <tr>
                                    <th scope="row">SISTEMAS COMPLEJOS (3007872)</th>
                                    <td>Disciplinar Optativa</td>
                                    <td>3</td>
                                </tr>
                            </tbody>
                        </table>
                    </ng-template>
                    <ng-template ngbPanelContent>
                        <div class="col-md-12 border border-secondary p-3 rounded">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">N°</th>
                                        <th scope="col">DOCENTE</th>
                                        <th scope="col">NÚMERO DE CUPOS</th>
                                        <th scope="col">SALÓN</th>
                                        <th scope="col">HORARIO</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" name="inlineRadioOptions2" type="radio"
                                                    id="inlineRadio1" value="option1">
                                                <label class="form-check-label" for="inlineRadio1">1</label>
                                            </div>
                                        </th>
                                        <td>Sebastián Lopez Mazo</td>
                                        <td>30</td>
                                        <td>M8-301</td>
                                        <td>--</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" name="inlineRadioOptions2" type="radio"
                                                    id="inlineRadio2" value="option2">
                                                <label class="form-check-label" for="inlineRadio2">2</label>
                                            </div>
                                        </th>
                                        <td>Julian Carvajal</td>
                                        <td>90</td>
                                        <td>M8-201</td>
                                        <td>--</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" name="inlineRadioOptions2" type="radio"
                                                    id="inlineRadio3" value="option3">
                                                <label class="form-check-label" for="inlineRadio3">3</label>
                                            </div>
                                        </th>
                                        <td>Paula Andrea</td>
                                        <td>50</td>
                                        <td>M8-101</td>
                                        <td>--</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" name="inlineRadioOptions2" type="radio"
                                                    id="inlineRadio4" value="option4">
                                                <label class="form-check-label" for="inlineRadio4">4</label>
                                            </div>
                                        </th>
                                        <td>Juan David Pino</td>
                                        <td>61</td>
                                        <td>M8-302</td>
                                        <td>--</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </ng-template>
                </ngb-panel>
                <ngb-panel id="panel3">
                    <ng-template ngbPanelTitle>
                        <table class="table">
                            <tbody>
                                <tr>
                                    <th scope="row">REDES Y TELECOMUNICACIONES II (3007866)</th>
                                    <td>Disciplinar Optativa</td>
                                    <td>3</td>
                                </tr>
                            </tbody>
                        </table>
                    </ng-template>
                    <ng-template ngbPanelContent>
                        <div class="col-md-12 border border-secondary p-3 rounded">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">N°</th>
                                        <th scope="col">DOCENTE</th>
                                        <th scope="col">NÚMERO DE CUPOS</th>
                                        <th scope="col">SALÓN</th>
                                        <th scope="col">HORARIO</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" name="inlineRadioOptions3" type="radio"
                                                    id="inlineRadio1" value="option1">
                                                <label class="form-check-label" for="inlineRadio1">1</label>
                                            </div>
                                        </th>
                                        <td>Sebastián Lopez Mazo</td>
                                        <td>30</td>
                                        <td>M8-301</td>
                                        <td>--</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" name="inlineRadioOptions3" type="radio"
                                                    id="inlineRadio2" value="option2">
                                                <label class="form-check-label" for="inlineRadio2">2</label>
                                            </div>
                                        </th>
                                        <td>Julian Carvajal</td>
                                        <td>90</td>
                                        <td>M8-201</td>
                                        <td>--</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" name="inlineRadioOptions3" type="radio"
                                                    id="inlineRadio3" value="option3">
                                                <label class="form-check-label" for="inlineRadio3">3</label>
                                            </div>
                                        </th>
                                        <td>Paula Andrea</td>
                                        <td>50</td>
                                        <td>M8-101</td>
                                        <td>--</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" name="inlineRadioOptions3" type="radio"
                                                    id="inlineRadio4" value="option4">
                                                <label class="form-check-label" for="inlineRadio4">4</label>
                                            </div>
                                        </th>
                                        <td>Juan David Pino</td>
                                        <td>61</td>
                                        <td>M8-302</td>
                                        <td>--</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </ng-template>
                </ngb-panel>
                <ngb-panel id="panel4">
                    <ng-template ngbPanelTitle>
                        <table class="table">
                            <tbody>
                                <tr>
                                    <th scope="row">TÉCNICAS EN APRENDIZAJE ESTADÍSTICO (3007854)</th>
                                    <td>Disciplinar Optativa</td>
                                    <td>3</td>
                                </tr>
                            </tbody>
                        </table>
                    </ng-template>
                    <ng-template ngbPanelContent>
                        <div class="col-md-12 border border-secondary p-3 rounded">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">N°</th>
                                        <th scope="col">DOCENTE</th>
                                        <th scope="col">NÚMERO DE CUPOS</th>
                                        <th scope="col">SALÓN</th>
                                        <th scope="col">HORARIO</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" name="inlineRadioOptions4" type="radio"
                                                    id="inlineRadio1" value="option1">
                                                <label class="form-check-label" for="inlineRadio1">1</label>
                                            </div>
                                        </th>
                                        <td>Sebastián Lopez Mazo</td>
                                        <td>30</td>
                                        <td>M8-301</td>
                                        <td>--</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" name="inlineRadioOptions4" type="radio"
                                                    id="inlineRadio2" value="option2">
                                                <label class="form-check-label" for="inlineRadio2">2</label>
                                            </div>
                                        </th>
                                        <td>Julian Carvajal</td>
                                        <td>90</td>
                                        <td>M8-201</td>
                                        <td>--</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" name="inlineRadioOptions4" type="radio"
                                                    id="inlineRadio3" value="option3">
                                                <label class="form-check-label" for="inlineRadio3">3</label>
                                            </div>
                                        </th>
                                        <td>Paula Andrea</td>
                                        <td>50</td>
                                        <td>M8-101</td>
                                        <td>--</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" name="inlineRadioOptions4" type="radio"
                                                    id="inlineRadio4" value="option4">
                                                <label class="form-check-label" for="inlineRadio4">4</label>
                                            </div>
                                        </th>
                                        <td>Juan David Pino</td>
                                        <td>61</td>
                                        <td>M8-302</td>
                                        <td>--</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </ng-template>
                </ngb-panel>
            </ngb-accordion>
        </div>
        <br>
        <br>
        <div align="center">
            <a role="button" class="btn btn-primary mr-2" (click)="open(contenido)">CONSOLIDAR INSCRIPCIÓN</a>
            <a href="BuscarLibreEleccion" role="button" class="btn btn-outline-danger">VOLVER</a>
        </div>
    </div>
</div>

<ng-template #contenido let-modal>
    <div class="modal-header">
    </div>
    <div class="modal-body">
        <h6>
            INSCRIPCIÓN EXITOSA
        </h6>
    </div>
    <div class="modal-footer">
        <a role="button" class="btn btn-secondary" (click)="modal.close()" href="" data-dismiss="modal">Cerrar</a>
    </div>
</ng-template>