a.link {
    outline: none;
    text-decoration: none;
    padding: 2px 1px 0;
  }
  
  a.link:link {
    color: #265301;
  }
  
  a.link:visited {
    color: #437A16;
  }
  
  a.link:focus {
    border-bottom: 1px solid;
    background: #BAE498;
  }
  
  a.link:hover {
    border-bottom: 1px solid;
    background: #CDFEAA;
  }
  
  a.link:active {
    background: #265301;
    color: #CDFEAA;
  }