<br>
<br>
<div align='center'>
    <div class="col-md-8 border border-secondary p-5 rounded">
        <h1 align='center'>Listado de grupos vinculados</h1>
        <br>
        <br>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">N°</th>
                    <th scope="col">NÚMERO DE CUPOS</th>
                    <th scope="col">SALÓN</th>
                    <th scope="col">HORARIO</th>
                    <th scope="col">OPCIONES DE INGRESO</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>60</td>
                    <td>M8-201</td>
                    <td>M-J, 8-10 AM</td>
                    <td>
                        <a href="IngresoManualCalificaciones" role="button" class="btn btn-primary mr-2">INGRESO MANUAL</a>
                        <a href="ImporteCalificaciones" role="button" class="btn btn-primary mr-2">IMPORTAR</a>
                    </td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>45</td>
                    <td>M7-301</td>
                    <td>W-V, 10-12 AM</td>
                    <td>
                        <a href="IngresoManualCalificaciones" role="button" class="btn btn-primary mr-2">INGRESO MANUAL</a>
                        <a href="ImporteCalificaciones" role="button" class="btn btn-primary mr-2">IMPORTAR</a>
                    </td>
                </tr>
            </tbody>
        </table>

        <div align="center">
            <a role="button" class="btn btn-outline-danger" href="IngresarCalificaciones">VOLVER</a>
          </div>
    </div>
</div>