<div align="center">
    <br>
    <br>
    <div class="col-md-8 border border-secondary p-5 rounded">
        <h1>Buscar asignaturas libre elección</h1>
        <br>

        <form>
            <div class="form-row align-items-center">

                <div class="col-md-8 my-2">
                    <input type="text" class="form-control" placeholder="Código asignatura">
                </div>
                <a href="ModificarAsignatura" role="button" class="btn btn-primary">BUSCAR</a>
            </div>
        </form>

        <br>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">ASIGNATURA</th>
                    <th scope="col">TIPOLOGÍA</th>
                    <th scope="col">CRÉDITOS</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customCheck1">
                            <label class="custom-control-label" for="customCheck1">INTRODUCCIÓN AL ANÁLISIS DE
                                DECISIONES
                                (3007322)</label>
                        </div>
                    </th>
                    <td>Disciplinar Optativa</td>
                    <td>3</td>
                </tr>
                <tr>
                    <th scope="row">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customCheck2">
                            <label class="custom-control-label" for="customCheck2">REDES Y TELECOMUNICACIONES II
                                (3007866)</label>
                        </div>
                    </th>
                    <td>Disciplinar Optativa</td>
                    <td>3</td>
                </tr>
                <tr>
                    <th scope="row">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customCheck3">
                            <label class="custom-control-label" for="customCheck3">BASE DE DATOS II (3007848)</label>
                        </div>
                    </th>
                    <td>Disciplinar Optativa</td>
                    <td>3</td>
                </tr>
                <tr>
                    <th scope="row">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customCheck4">
                            <label class="custom-control-label" for="customCheck4">TÉCNICAS EN APRENDIZAJE ESTADÍSTICO
                                (3007854)</label>
                        </div>
                    </th>
                    <td>Disciplinar Optativa</td>
                    <td>3</td>
                </tr>
            </tbody>
        </table>

        <div class="col-auto my-1 mt-4">
            <a href="SeleccionGrupoInscribir" role="button" class="btn btn-primary mr-2">SIGUIENTE</a>
            <a href="" role="button" class="btn btn-outline-danger">VOLVER</a>
        </div>
    </div>
</div>