<br>
<br>
<div align="center">
  <div class="col-md-6 border border-secondary p-5 rounded">
    <h1>Seleccionar plan de estudio</h1>
    <br>
    <form class="form-inline">
      <div class="form-group mb-2 mr-3">
        <select class="form-control">
          <option>3534 INGENIERÍA DE SISTEMAS E INFORMÁTICA</option>
        </select>
      </div>
      <a href="ListadoAsignaturasPendientes"><button type="button"
          class="btn btn-primary mb-2 mr-2">INSCRIBIR</button></a>
      <a href="ListaAsignaturasCancelacion"><button type="button" class="btn btn-danger mb-2">CANCELAR</button></a>
    </form>
    <br>
    <a href="" role="button" class="btn btn-outline-danger">VOLVER</a>
  </div>
</div>