<div align="center">
    <br>
    <br>
    <div class="col-md-8 border border-secondary p-5 rounded">
        <h1>Ingreso actividad</h1>
        <br>
        <br>
        <div class="form-group" align="left">
            <a class="btn btn-primary add" (click)="agregarActividad()">+ Agregar</a>
        </div>
        <form>
            <div class="form-row">

                <div class="form-group col-md-6 text-left">
                    <label>Nombre</label>
                    <input class="form-control">
                </div>
                <div class="form-group col-md-6 text-left">
                    <label>Porcentaje</label>
                    <input class="form-control">
                </div>

            </div>
        </form>

        <div formArrayName="actividades" *ngFor="let actividad of actividades.controls; let i = index">
            <div [formGroupName]="i" class="form-row">
                <div class="form-group col-md-6 text-left">
                    <label [attr.for]="'Nombre' + i">Nombre</label>
                    <input type="text" [attr.id]="'Nombre' + i" class="form-control" formControlName="Nombre">
                </div>
                <div class="form-group col-md-6 text-left">
                    <label [attr.for]="'Porcentaje' + i">Porcentaje</label>
                    <input type="text" [attr.id]="'Porcentaje' + i" class="form-control" formControlName="Porcentaje">
                </div>
                <div class="col-md-2">
                    <button class="btn btn-danger" (click)="removerActividad(i)">Remover</button>
                </div>
            </div>
        </div>

        <div align="center">
            <a role="button" class="btn btn-primary mr-2" (click)="open(contenido)">CREAR</a>
            <a role="button" class="btn btn-outline-danger" href="CrearActividades">VOLVER</a>
        </div>
    </div>

</div>

<ng-template #contenido let-modal>
    <div class="modal-header">
    </div>
    <div class="modal-body">
        <h6>
            ACTIVIDAD(ES) INGRESADA(S)
        </h6>
    </div>
    <div class="modal-footer">
        <a role="button" class="btn btn-secondary" (click)="modal.close()" href="CrearActividades" data-dismiss="modal">Cerrar</a>
    </div>
</ng-template>