<div align="center">
    <br>
    <br>
    <div class="col-md-8 border border-secondary p-5 rounded">
        <h1>Lista solicitudes director área curricular</h1>
        <br>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">FECHA</th>
                    <th scope="col">DOCENTE</th>
                    <th scope="col">NOMBRE ASIGNATURA</th>
                    <th scope="col">NIVEL</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>07-12-2022</th>
                    <th>Docente 1</th>
                    <th scope="row">Introducción a la Robótica (3009151)</th>
                    <th>Pregrado</th>
                    <th>
                        <a role="button" class="btn btn-primary" href="ModificarSolicitudDirector">MODIFICAR</a>
                        <a role="button" class="btn btn-primary" href="DetalleSolicitudDirector">CALIFICAR</a>
                    </th>
                </tr>
                <tr>
                    <th>07-12-2022</th>
                    <th>Docente 2</th>
                    <th scope="row">SISTEMAS COMPLEJOS (3007872)</th>
                    <th>Pregrado</th>
                    <th>
                        <a role="button" class="btn btn-primary" href="ModificarSolicitudDirector">MODIFICAR</a>
                        <a role="button" class="btn btn-primary" href="DetalleSolicitudDirector">CALIFICAR</a>
                    </th>
                </tr>
                <tr>
                    <th>07-12-2022</th>
                    <th>Docente 3</th>
                    <th scope="row">DISEÑO Y CONSTRUCCIÓN DE PRODUCTOS DE SOFTWARE (3007850)</th>
                    <th>Pregrado</th>
                    <th>
                        <a role="button" class="btn btn-primary" href="ModificarSolicitudDirector">MODIFICAR</a>
                        <a role="button" class="btn btn-primary" href="DetalleSolicitudDirector">CALIFICAR</a>
                    </th>
                </tr>
                <tr>
                    <th>07-12-2022</th>
                    <th>Docente 4</th>
                    <th scope="row">INVESTIGACIÓN DE OPERACIONES II (3007325)</th>
                    <th>Pregrado</th>
                    <th>
                        <a role="button" class="btn btn-primary" href="ModificarSolicitudDirector">MODIFICAR</a>
                        <a role="button" class="btn btn-primary" href="DetalleSolicitudDirector">CALIFICAR</a>
                    </th>
                </tr>
            </tbody>
        </table>
        <br>
        <div align='center'>
            <a role="button" class="btn btn-outline-danger" href="">VOLVER</a>
        </div>
    </div>
</div>
