<div align="center">
    <br>
    <br>
    <div class="col-md-6 border border-secondary p-5 rounded">
        <h1>Buscar asignatura</h1>
        <br>

        <form>
            <div class="form-row align-items-center">
                <input type="text" class="form-control" [formControl]="Asignatura" placeholder="Código asignatura">
            </div>

            <div class="col-auto my-1 mt-4">
                <a (click)="summit(contenido)" role="button" class="btn btn-primary mr-2" style="color: white; cursor: pointer;">BUSCAR</a>
                <a (click)="Back()" role="button" class="btn btn-outline-danger" style="color: tomato;cursor: pointer;">VOLVER</a>
            </div>
        </form>
    </div>
</div>

<ng-template #contenido let-modal>
    <div class="modal-header">
    </div>
    <div class="modal-body">
        <h6>
            ASIGNATURA NO ENCONTRADA.
        </h6>
    </div>
    <div class="modal-footer">
        <a role="button" class="btn btn-secondary" (click)="modal.close()" style="cursor: pointer;"
            data-dismiss="modal">Cerrar</a>
    </div>
</ng-template>