<div align="center">
    <br>
    <br>
    <div class="col-md-8 border border-secondary p-5 rounded">
        <h1>Crear grupo</h1>
        <br>
        <br>
        <form>
            <div class="form-row">

                <div class="form-group col-md-6 text-left">
                    <label>Identificación Docente</label>
                    <input class="form-control">
                </div>
                <div class="form-group col-md-6 text-left">
                    <label>Número de cupos</label>
                    <input type="number" class="form-control">
                </div>

                <div class="form-group col-md-6 text-left">
                    <label>Salón</label>
                    <input class="form-control">
                </div>

            </div>
            <br>
            <br>
            <a role="button" class="btn btn-primary mr-2" (click)="open(contenido)">CREAR</a>
            <a href="DetalleListaAsignaturasDepartamento" role="button" class="btn btn-outline-danger">VOLVER</a>
        </form>

    </div>
</div>

<ng-template #contenido let-modal>
    <div class="modal-header">
    </div>
    <div class="modal-body">
        <h6>
            GRUPO CREADO CON ÉXITO
        </h6>
    </div>
    <div class="modal-footer">
        <a role="button" class="btn btn-secondary" (click)="modal.close()" href="DetalleListaAsignaturasDepartamento" data-dismiss="modal">Cerrar</a>
    </div>
</ng-template>