<br>
<br>
<h1>Listado de asignaturas</h1>
<table class="table">
    <thead>
        <tr>
            <th scope="col">ASIGNATURA</th>
            <th scope="col">CALIFICACIÓN</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">
                <a href="ResumenCalificacionesAsignatura">Introducción a la Robótica (3009151)</a>
            </th>
            <td>Sin calificar</td>
        </tr>
        <tr>
            <th scope="row">
                <a href="ResumenCalificacionesAsignatura">SISTEMAS COMPLEJOS (3007872)</a>
            </th>
            <td>Sin calificar</td>
        </tr>
        <tr>
            <th scope="row">
                <a href="ResumenCalificacionesAsignatura">DISEÑO Y CONSTRUCCIÓN DE PRODUCTOS DE SOFTWARE (3007850)</a>
            </th>
            <td>Sin calificar</td>
        </tr>
        <tr>
            <th scope="row">
                <a href="ResumenCalificacionesAsignatura">INVESTIGACIÓN DE OPERACIONES II (3007325)</a>
            </th>
            <td>Sin calificar</td>
        </tr>
    </tbody>
</table>
<br>
<br>
<div align='center'>
    <a role="button" class="btn btn-outline-danger" href="">VOLVER</a>
</div>