<br>
<br>
<h1>Listado de asignaturas pendientes por cursar</h1>
<br>
<h4>Seleccione la asignatura</h4>
<br>
<table class="table">
    <thead>
        <tr>
            <th scope="col">ASIGNATURA</th>
            <th scope="col">TIPOLOGÍA</th>
            <th scope="col">CRÉDITOS</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck5">
                    <label class="custom-control-label" for="customCheck5">Introducción a la Robótica (3009151)</label>
                </div>
            </th>
            <td>Disciplinar Optativa</td>
            <td>3</td>
        </tr>
        <tr>
            <th scope="row">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck5">
                    <label class="custom-control-label" for="customCheck5">SISTEMAS COMPLEJOS (3007872)</label>
                </div>
            </th>
            <td>Disciplinar Optativa</td>
            <td>3</td>
        </tr>
        <tr>
            <th scope="row">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck5">
                    <label class="custom-control-label" for="customCheck5">DISEÑO Y CONSTRUCCIÓN DE PRODUCTOS DE
                        SOFTWARE (3007850)</label>
                </div>
            </th>
            <td>Disciplinar Optativa</td>
            <td>3</td>
        </tr>
        <tr>
            <th scope="row">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck5">
                    <label class="custom-control-label" for="customCheck5">INVESTIGACIÓN DE OPERACIONES II
                        (3007325)</label>
                </div>
            </th>
            <td>Disciplinar Optativa</td>
            <td>3</td>
        </tr>
        <tr>
            <th scope="row">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck5">
                    <label class="custom-control-label" for="customCheck5">INTRODUCCIÓN AL ANÁLISIS DE DECISIONES
                        (3007322)</label>
                </div>
            </th>
            <td>Disciplinar Optativa</td>
            <td>3</td>
        </tr>
        <tr>
            <th scope="row">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck5">
                    <label class="custom-control-label" for="customCheck5">REDES Y TELECOMUNICACIONES II
                        (3007866)</label>
                </div>
            </th>
            <td>Disciplinar Optativa</td>
            <td>3</td>
        </tr>
        <tr>
            <th scope="row">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck5">
                    <label class="custom-control-label" for="customCheck5">BASE DE DATOS II (3007848)</label>
                </div>
            </th>
            <td>Disciplinar Optativa</td>
            <td>3</td>
        </tr>
        <tr>
            <th scope="row">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck5">
                    <label class="custom-control-label" for="customCheck5">TÉCNICAS EN APRENDIZAJE ESTADÍSTICO
                        (3007854)</label>
                </div>
            </th>
            <td>Disciplinar Optativa</td>
            <td>3</td>
        </tr>
    </tbody>
</table>

<div align="center">
    <a href="BuscarLibreEleccion" role="button" class="btn btn-primary mr-2">SIGUIENTE</a>
    <a href="PlanInscripcionCancelacion" role="button" class="btn btn-outline-danger">VOLVER</a>
</div>