<div align="center">
    <br>
    <br>
    <div class="col-md-6 border border-secondary p-5 rounded">
        <h1>Buscar asignatura</h1>
        <br>

        <form>
            <div class="form-row align-items-center">

                <div class="col my-1">
                    <label class="sr-only" for="inlineFormInputGroupUsername">Username</label>
                    <div class="input-group">
                    </div>
                    <input type="text" class="form-control" id="inlineFormInputGroupUsername"
                        placeholder="Código asignatura">
                </div>
            </div>

            <div class="col-auto my-1 mt-4">
                <a href="ModificarAsignatura" role="button" class="btn btn-primary mr-2">BUSCAR</a>
                <a href="" role="button" class="btn btn-outline-danger">VOLVER</a>
            </div>
        </form>
    </div>
</div>