<div align="center">
    <br>
    <br>
    <div class="col-md-8 border border-secondary p-5 rounded">
        <h1>Solicitud de creación</h1>
        <br>
        <br>
        <form enctype="multipart/form-data">
            <div class="form-row">
                <div class="form-group col-md-6 text-left">
                    <label>Nombre asignatura</label>
                    <input class="form-control" [formControl]="nombre_asignatura">
                </div>

                <div class="form-group col-md-6 text-left">
                    <label>Nivel</label>
                    <select class="form-control" [formControl]="nivel">
                        <option value="pregrado" selected>Pregrado</option>
                        <option value="postgrado">Postgrado</option>
                    </select>
                </div>
                <div class="form-group col-md-6 text-left">
                    <label>Subir archivos necesarios: </label>
                    <input type="file" class="form-control" name="Subir archivos" [formControl]="archivos">
                </div>
            </div>
            <br>
            <a role="button" class="btn btn-primary mr-2" (click)="summit(contenido)" style="color: white;cursor: pointer;">ENVIAR</a>
            <a role="button" class="btn btn-outline-danger" (click)="Back()" style="color: tomato;cursor: pointer;">CANCELAR</a>
        </form>

    </div>
</div>

<ng-template #contenido let-modal>
    <div class="modal-header">
    </div>
    <div class="modal-body">
        <h6>
            SOLICITUD ENVIADA CON ÉXITO.
        </h6>
    </div>
    <div class="modal-footer">
        <a role="button" class="btn btn-secondary" (click)="modal.close()" (click)="Back()" data-dismiss="modal">Cerrar</a>
    </div>
</ng-template>
