<div align="center">
    <br>
    <br>
    <div class="col-md-8 border border-secondary p-5 rounded">
        <h1>Definir horario</h1>
        <br>
        <br>
        <form>
            <div class="form-row">

                <div class="form-group col-md-6 text-left">
                    <label>Hora inicio</label>
                    <input type="datetime" class="form-control">
                </div>
                <div class="form-group col-md-6 text-left">
                    <label>Hora final</label>
                    <input type="datetime" class="form-control">
                </div>
            </div>

            <div align="left">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck1">
                    <label class="custom-control-label" for="customCheck1">Lunes</label>
                </div>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck2">
                    <label class="custom-control-label" for="customCheck2">Martes</label>
                </div>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck3">
                    <label class="custom-control-label" for="customCheck3">Miercoles</label>
                </div>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck4">
                    <label class="custom-control-label" for="customCheck4">Jueves</label>
                </div>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck5">
                    <label class="custom-control-label" for="customCheck5">Viernes</label>
                </div>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck6">
                    <label class="custom-control-label" for="customCheck6">Sábado</label>
                </div>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck7">
                    <label class="custom-control-label" for="customCheck7">Domingo</label>
                </div>
            </div>
            <br>
            <br>
            <a href="DetalleListaAsignaturasDepartamento" role="button" class="btn btn-primary mr-2">DEFINIR</a>
            <a href="DetalleListaAsignaturasDepartamento" role="button" class="btn btn-outline-danger">VOLVER</a>
        </form>
    </div>
</div>