<br>
<br>
<h1>Listado de asignaturas vinculadas</h1>
<br>
<h4>Seleccione la asignatura</h4>
<br>
<table class="table">
    <thead>
        <tr>
            <th scope="col">ASIGNATURA</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">
                <a href="ListaGruposVinculados">Introducción a la Robótica (3009151)</a>
            </th>
        </tr>
        <tr>
            <th scope="row">
                <a href="ListaGruposVinculados">SISTEMAS COMPLEJOS (3007872)</a>
            </th>
        </tr>
        <tr>
            <th scope="row">
                <a href="ListaGruposVinculados">DISEÑO Y CONSTRUCCIÓN DE PRODUCTOS DE SOFTWARE (3007850)</a>
            </th>
        </tr>
        <tr>
            <th scope="row">
                <a href="ListaGruposVinculados">INVESTIGACIÓN DE OPERACIONES II (3007325)</a>
            </th>
        </tr>
    </tbody>
</table>
<br>
<br>
<div align='center'>
    <a role="button" class="btn btn-outline-danger" href="">VOLVER</a>
</div>
