<br>
<br>
<h1>Listado de asignaturas con solicitud de cupos</h1>
<br>
<h4>Seleccione la asignatura</h4>
<br>
<table class="table">
    <thead>
        <tr>
            <th scope="col">ASIGNATURA</th>
            <th scope="col">TIPOLOGÍA</th>
            <th scope="col">CRÉDITOS</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">
                    <a href="DetalleAsignaturaDocentes">Introducción a la Robótica (3009151)</a>
            </th>
            <td>Disciplinar Optativa</td>
            <td>3</td>
        </tr>
        <tr>
            <th scope="row">
                <a href="DetalleAsignaturaDocentes">SISTEMAS COMPLEJOS (3007872)</a>
            </th>
            <td>Disciplinar Optativa</td>
            <td>3</td>
        </tr>
        <tr>
            <th scope="row">
                    <a href="DetalleAsignaturaDocentes">DISEÑO Y CONSTRUCCIÓN DE PRODUCTOS DE SOFTWARE (3007850)</a>
            </th>
            <td>Disciplinar Optativa</td>
            <td>3</td>
        </tr>
        <tr>
            <th scope="row">
                    <a href="DetalleAsignaturaDocentes">INVESTIGACIÓN DE OPERACIONES II (3007325)</a>
            </th>
            <td>Disciplinar Optativa</td>
            <td>3</td>
        </tr>
        <tr>
            <th scope="row">
                    <a href="DetalleAsignaturaDocentes">INTRODUCCIÓN AL ANÁLISIS DE DECISIONES (3007322)</a>
            </th>
            <td>Disciplinar Optativa</td>
            <td>3</td>
        </tr>
        <tr>
            <th scope="row">
                    <a href="DetalleAsignaturaDocentes">REDES Y TELECOMUNICACIONES II (3007866)</a>
            </th>
            <td>Disciplinar Optativa</td>
            <td>3</td>
        </tr>
        <tr>
            <th scope="row">
                    <a href="DetalleAsignaturaDocentes">BASE DE DATOS II (3007848)</a>
            </th>
            <td>Disciplinar Optativa</td>
            <td>3</td>
        </tr>
        <tr>
            <th scope="row">
                    <a href="DetalleAsignaturaDocentes">TÉCNICAS EN APRENDIZAJE ESTADÍSTICO (3007854)</a>
            </th>
            <td>Disciplinar Optativa</td>
            <td>3</td>
        </tr>
    </tbody>
</table>

<div align="center">
    <a href="" role="button" class="btn btn-outline-danger">VOLVER</a>
</div>