<div align="center">
    <br>
    <br>
    <div class="col-md-8 border border-secondary p-5 rounded">
        <h1>Importar citaciones</h1>
        <br>
        <br>
        <form enctype="multipart/form-data">
            <div class="form-group col-md-6 text-left">
                <label>Subir archivos necesarios: </label>
                <input type="file" class="form-control" name="Subir archivos">
            </div>
            <br>
            <a href="ConfirmarImporteCitaciones" role="button" class="btn btn-primary mr-2">CONTINUAR</a>
            <a href="" role="button" class="btn btn-outline-danger">CANCELAR</a>
        </form>

    </div>
</div>
